.navbar{
	opacity: 0.9;
}
.navbar-brand img{
	float: left; 
	height: 100%; 
	margin: 0 10px;
}
.nav{
	margin-right: 50px;
}
header{
	height: 50px;
}
.film{
	width: 100%;
	display: block;
	height: 100%;
	padding: 0;
}
.film li{
	width: 24%;
	float: left;
	list-style: none;
	margin: 0 5px 10px 0;
	overflow: hidden;
}
.film .img{
	width: 100%;
	background-size: cover;
	height: 200px;
	background-repeat: no-repeat;
}
.text{
	width: 100%;
	height: 43px;
	font-size: 100%;
	text-align: center;
	word-wrap: break-word;
}
a:hover{
	text-decoration: none;
}
a:hover:not(.csf){
	box-shadow: -1px 0px 10px 3px rgba(0,0,0,.7);
	z-index: 9999;
}
.film li:hover{
	overflow: visible;
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 200ms;
}
.back{
	background-image: url('http://kinokrad.co/templates/ntpl/images/shorttitle.png');
	padding: 0;
	margin: 0;
}
.panel-heading h1{
	color: #FFF;
    font-size: 17px;
    margin: 0 0 0 15px;
    text-decoration: none;
    line-height: 37px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.panel-body{
	margin: 0;
	padding: 0;
}
.panel-default{
box-shadow: 0 3px 10px rgba(0,0,0,.7);
}
.index h4{
	margin: 15px;
}
.animated {
    animation-duration: 3s !important;
}
.hover:hover{
	animation: flip 3s infinite !important;
}
.li:hover{
	animation: tada 3s infinite !important;
}
.index span{
	font-weight:bold;
	color: black;
	font-style:italic;
}
#video1{
	cursor: pointer;
}
.slider{
	word-wrap: break-word;
}
.csf{
	margin: 10px;
}
.csf:hover .img{
	box-shadow: -1px 0px 10px 3px rgba(0,0,0,.7);
}
#ribbon {
	position:absolute;
	top: 4px;
	left: 3px;
	z-index:500;
}
.csf{
	position: relative;
}
.di{
	position: relative;
}
.slider{
	margin: 15px;
	word-wrap: break-word;
}
.bl{
	display: block;
}
.footer-links a{
	padding: 5px;
}
.lef{
	clear: left;
	text-align: center;
}

#carousel1{
	height: 400px !important;
}
.bl, .bl img{
	border-radius: 13px;
}
.hov{
	animation: flipInY 10s !important;
}
.csf:active, .csf:focus{
	border: none;
	box-shadow: -1px 0px 10px 3px rgba(0,0,0,.7);
	text-decoration: none;
}

